# Name - Sahil Kamble
# Email Id- sahilkamble800@gmail.com
# DAY 2 ASSIGNMENT Python Batch 6

In [1]:
##Python Basic Syntax

In [2]:
print("hello")

hello

In [3]:
print("hello world")

hello world

In [6]:
print("hello \
      python")

hello       python

In [7]:
print(""" hello eyeryone   """)

 hello eyeryone

In [10]:
print("hello\nguys")

hello
guys

In [13]:
name = "sky"
age = 46
marks = "34%"

In [14]:
print("my name is ",name,"my age is ",age,"my marks are",marks)

my name is  sky my age is  46 my marks are 34%

In [15]:
##operatos

In [16]:
a = 10
b = 20

In [17]:
add = a+b

In [18]:
add

30

In [19]:
sub = b - a

In [20]:
sub

10

In [21]:
mul = a**b

In [22]:
mul

100000000000000000000

In [23]:
a | b

30

In [24]:
a==b

False

In [25]:
a>=b

False

In [26]:
a<=b

True

In [27]:
a or b

10

In [28]:
a and b

20

In [29]:
a !=b

True

In [30]:
 b % a

0

In [31]:
b / a

2.0

In [32]:
c += a

NameError: name 'c' is not defined

In [33]:
c = 80

In [34]:
c += a

In [35]:
c

90

In [36]:
c /= a

In [37]:
c

9.0